h1,
h2,
h4 {
  margin: 10px 0;
}

h1 {
  font-size: 2rem;
  color: #222;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
}


a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

.app-container {
  max-width: 12000px;
  margin: 0 auto;
  padding: 0px;
}


body {
margin: 0;
padding: 0;
}


header {
display: flex;
justify-content: space-between; 
align-items: center; 
padding: 10px 20px; 
background: linear-gradient(45deg, #32cd32, #228b22);
color: white;
margin: 0; 
box-sizing: border-box; 
}

.logo-name {
display: flex;
align-items: center;
}

.logo {
width: 40px;
height: 40px;
margin-right: 10px;
}

.shop-name {
text-decoration: none;
color: white;
font-size: 1.5rem;
}


.hamburger-menu {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 25px;
cursor: pointer;
z-index: 10;
}

.hamburger-menu span {
display: block;
height: 4px;
background-color: white;
border-radius: 4px;
transition: all 0.3s ease;
}

.navbar {
display: none;
position: absolute;
top: 60px;
right: 20px;
font-size: larger;
background: linear-gradient(to bottom, rgba(72, 206, 137, 0.867), #56ce56); 
width: 200px;
padding: 10px;
border-radius: 8px;
z-index: 9;
flex-direction: column;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body.dark-theme .navbar{
  background: linear-gradient(to right, #484848, #696969);
}
.navbar.show {
display: flex;
}


.nav-list {
list-style: none;
padding: 0;
margin: 0;
}

.nav-list li {
margin: 10px 0;
}

.nav-list li a {
text-decoration: none;
color: white;
font-weight: bold;
display: block;
padding: 10px;
position: relative;
transition: color 0.3s ease;
}


.nav-list li a:hover {
color: rgb(4, 4, 4);
animation: glowEffect 0.8s infinite alternate;
}

@keyframes glowEffect {
from {
text-shadow: 0 0 5px rgba(253, 255, 253, 0.5), 0 0 15px rgba(171, 205, 171, 0.4);
}
to {
text-shadow: 0 0 15px rgba(171, 205, 171, 0.8), 0 0 25px rgba(171, 205, 171, 0.7);
}
}

.nav-list li a::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0%;
height: 3px;
background-color: rgb(171, 205, 171);
transition: width 0.3s ease;
}

body.drak-theme .nav-list li a::after{
background: linear-gradient(to right, #484848, #696969);
}

.nav-list li a:hover::after {
width: 100%;
}


.hamburger-menu.open span:nth-child(1) {
transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.open span:nth-child(2) {
opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 768px) {
.navbar {
background: linear-gradient(45deg, #32cd32, #228b22); 
}

.navbar.show {
background: linear-gradient(45deg, #32cd32, #228b22);
}
}


@media screen and (min-width: 769px) {
.navbar {
display: flex; 
position: static; 
width: auto;
background: none; 
padding: 0;
box-shadow: none; 
border-radius: 0; 
}

.nav-list {
display: flex; 
}

.nav-list li {
margin: 0 15px; 
}

.hamburger-menu {
display: none; 
}
}


@media screen and (max-width: 768px) {
.hamburger-menu {
display: flex; 
}

.navbar {
display: none; 
}

.navbar.show {
display: flex; 
}

.nav-list {
flex-direction: column; 
align-items: center; 
}
}
